<ion-view title="Automatisch aktualisieren">
  <ion-nav-bar class="bar-stable nav-title-slide-ios7">
    <ion-nav-back-button class="button-icon icon  ion-ios7-arrow-back">Back</ion-nav-back-button>
  </ion-nav-bar>

  <ion-content class="has-header padding">
    <form>
      <div class="list">
          <li class="item item-toggle" ng-repeat="acc in accountSettings">
            {{acc.name}}
            <label class="toggle toggle-positive">
                <input ng-model="acc.autorefresh" ng-change="save()" type="checkbox">
                <div class="track">
                    <div class="handle"></div>
                </div>
            </label>
         </li>
      </div>
    </form>
  </ion-content>
</ion-view>
