<ion-view title="Benachrichtigungen">
  <ion-nav-bar class="bar-stable nav-title-slide-ios7">
    <ion-nav-back-button class="button-icon icon  ion-ios7-arrow-back">Back</ion-nav-back-button>
  </ion-nav-bar>

  <ion-content class="has-header padding">
    <h2>Warnungen</h2>
    <form>
      <label>Warnung bei Kontostand &lt; {{warningThreshold}} &euro;</label>
      <div class="range">
        0 &euro;
        <input type="range" step="5" min="0" max="1000" ng-model="warningThreshold">
        1000 &euro;
      </div>
      <div class="list">
          <li class="item item-toggle" ng-repeat="acc in accountSettings">
            {{acc.name}}
            <label class="toggle toggle-positive">
                <input ng-model="acc.warn" ng-change="save()" type="checkbox">
                <div class="track">
                    <div class="handle"></div>
                </div>
            </label>
         </li>
      </div>
    </form>
  </ion-content>
</ion-view>
