<ion-view title="Sparen">
  <ion-content class="has-header padding" scroll="true" overflow-scroll="true">
  <h2>Gesamtes Vermögen: {{totalBalance}} €</h2>
    <ul class="list">
      <li class="item item-thumbnail-left" ng-repeat="goal in goals">
      <img src="{{goal.img}}">
      <h2><i class="icon ion-ribbon-a" ng-show="goal.achieved"></i> {{goal.title}} <span ng-show="goal.achieved"> &mdash; geschafft!</span></h2>
      <p><progress max="{{goal.amount}}" ng-class="goal.achieved? 'finished' : ''" ng-value="goal.achieved ? goal.amount : totalBalance" ng-disabled="goal.achieved"></progress></p>
      <p>{{goal.amount}} €</p>
      </li>
    </ul>
  </ion-content>
</ion-view>
