<ion-tabs class="tabs-icon-top tabs-striped tabs-dark">

  <ion-tab title="Überblick" icon="icon ion-speedometer" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Banken" icon="icon ion-card" href="#/tab/accounts">
    <ion-nav-view name="tab-accounts"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Sparen" icon="icon ion-trophy" href="#/tab/saving">
    <ion-nav-view name="tab-saving"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Einstellungen" icon="icon ion-gear-b" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>

</ion-tabs>
